<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css">


</head>

<body>

    <div class="container">



        <!-- Header------------------------------------------------------------- -->
        <header>

            <marquee direction="left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur, voluptatum.
            </marquee>


            <div class="logo">
                <div class="college">

                    <img class="college_logo" src="./images/icetci.jpeg" alt="">
                </div>

                <div class="site-name">
                    <h4>INTERNATIONAL CONFERENCE ON EMERGING TECHNOLOGY AND ADVANCE COMPUTING</h4>
                </div>

                <div class="aku">

                    <img class="aku_logo" src="./images/AKU_logo.png" alt="">
                </div>

                <img id="burger_icon_open" src="./images/burger icon.png" alt="">
                <img id="burger_icon_close" src="./images/burger icon.png" alt="">
            </div>

            <!-- <div id="display" class="display"> -->
            <div class="menu_list" id="menu_list">

                <!-- <img id="cross_icon" src="cross.png"> -->

                <ul>
                    <li class="listWithBorder"><a href="/">HOME</a></li>
                    <li class="listWithBorder"><a href="">SUBMIT PAPER</a></li>
                    <li class="listWithBorder"><a href="">PAPER FORMAT DOWNLOAD</a></li>
                    <li class="listWithBorder"><a href="/aboutUs">ABOUT US</a></li>
                    <li class="listWithBorder"><a href="/callforPaper">CALL FOR PAPER</a></li>
                    <li class="listWithBorder"><a href="/committee">COMMITTEE</a></li>
                    <li class="listWithBorder"><a href="/speakers">SPEAKERS</a></li>
                    <li class="listWithBorder"><a href="/guidelines">GUIDELINES</a></li>
                    <li class="listWithBorder"><a href="/registration">REGISTRATION</a></li>
                    <li class="listWithBorder"><a href="/gallery">GALLERY</a></li>
                    <li class="listWithBorder"><a href="/contactUs">CONTACT US</a></li>
                    <li class="listWithBorder"><a href="/login">ADMIN LOGIN</a></li>

                </ul>
            </div>

            <!-- </div> -->

            <nav class="navigation_bar">
                <ul>
                    <li><a href="/aboutUs">ABOUT US</a></li>
                    <li><a href="/callforPaper">CALL FOR PAPER</a></li>
                    <li><a href="/committee">COMMITTEE</a></li>
                    <li><a href="/speakers">SPEAKERS</a></li>
                    <li><a href="/guidelines">GUIDELINES</a></li>
                    <li><a href="/registration">REGISTRATION</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contactUs">CONTACT US</a></li>
                    <li><a href="/login">ADMIN</a></li>
                </ul>
                
            </nav>

        </header>



        <main>

            <!-- Gallery and Notice---------------------------------------------------------- -->
            <div class="gallery_notice">
                <div class="gallery1">
                    <div class="showSlide fade">
                        <img src="./images/Aman.jpg" />

                    </div>
                    <div class="showSlide fade">
                        <img src="./images/gallery2.jpg" />

                    </div>

                    <div class="showSlide fade">
                        <img src="./images/Azmat.jpeg" />

                    </div>
                    <div class="showSlide fade">
                        <img src="./images/gallery.jpg" />

                    </div>
                    <!-- Navigation arrows -->
                    <a class="left" onclick="nextSlide(-1)">❮</a>
                    <a class="right" onclick="nextSlide(1)">❯</a>
                </div>

                <div class="notice">
                    <h2>NOTICE</h2>
                    <ul>
                        <% for(let i of notices){%>
                            <li>
                                <a href="<%= i.link %>" target="_blank">
                                    <%= i.notice %>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
            </div>


            <!-- About and Downloads-------------------------------------------------------- -->
            <div class="about_dwnlds">
                <div class="about">
                    <h4>INTERNATIONAL CONFERENCE ON EMERGING TECHNOLOGY AND ADVANCE COMPUTING
                    </h4>
                    <div class="about-content">

                        <p>Darbhanga College of Engineering (DCE Darbhanga) is a government owned engineering college in
                            Bihar, India, inaugurated by Nitish Kumar(chief minister of Bihar) ESTD in 2008. It is
                            affiliated with the Aryabhatta Knowledge University, Patna and approved by the AICTE. The
                            college is administered by Department of Science and Technology, Bihar. <br>It was
                            previously known as Jagannath Mishra Institute of Technology (JMIT). In 2008 it reopened
                            with a new name, Darbhanga College of Engineering, under Lalit Narayan Mithila University
                            (LNMU). In 2011, it became a member of the AKU Family. The owners of this property were Late
                            Sri Jyoti Prasad Singh Ji, landlord of Hariharpur Estate who constructed it in 1935. after
                            the great earthquake of Bihar in 1934, this was constructed by M/s Bhambhri & Co. Ahmedabad
                            and is an earthquake-proof construction. <br>Darbhanga College of Engineering is approved by
                            the All India Council of Technical Education (AICTE) and affiliated to the Aryabhatta
                            knowledge University(AKU) Patna (Bihar).</p>
                    </div>
                    <a href="/aboutUs">Read More</a>
                </div>

                <div class="dwnlds">
                    <h2>DOWNLOADS</h2>
                    <ul>
                        <% for(let i of downloads){%>
                            <li>
                                <a href="<%= i.link %>">
                                    <%= i.download %>
                                </a>
                            </li>
                            <%}%>
                    </ul>
                </div>
            </div>


            <!-- Visitors-------------------------------------------------------------- -->

            <div class="visitors">
                <div class="a1">
                    <h2>1500+</h2>
                    <h5>ANNUALLY GLOBAL CONFERENCES</h5>
                </div>

                <div class="verticalborder1"></div>

                <div class="a2">
                    <h2>2000+</h2>
                    <h5>MEMBERS</h5>
                </div>

                <div class="verticalborder2"></div>

                <div class="a3">
                    <h2>1400+</h2>
                    <h5>PARTICIPANTS</h5>
                </div>

                <div class="verticalborder3"></div>

                <div class="a4">
                    <h2>350+</h2>
                    <h5>ACTIVE STANDARDS</h5>
                </div>

                <div class="horizontalborder"></div>
            </div>


            <!-- Speakers section----------------------------------------------------------- -->

            <div id="speakers_section" class="speakers_section">
                <h1>SPEAKERS</h1>

                <div class="keynote_speakers">
                    <button id="keynote_btn">KEYNOTE SPEAKERS</button>
                </div>
                <div class="session_speakers">
                    <button id="session_btn">SESSION SPEAKERS</button>
                </div>

                <!-- keynote-------------------------------------------- -->

                <div id="keynote_speakerGallery" class="keynote_speakerGallery">
                    <div class="showSlide1 fade">
                        <img src="./images/Aman.jpg" />
                        <div class="speaker_name">KEYNOTE SPEAKER</div>

                    </div>
                    <div class="showSlide1 fade">
                        <img src="./images/Bushra.jpg" />
                        <div class="speaker_name">KEYNOTE SPEAKER</div>

                    </div>
                    <div class="showSlide1 fade">
                        <img src="./images/Azmat.jpeg" />
                        <div class="speaker_name">KEYNOTE SPEAKER</div>
                    </div>
                    <div class="showSlide1 fade">
                        <img src="./images/gallery2.jpg" />
                        <div class="speaker_name">KEYNOTE SPEAKER</div>

                    </div>

                    <div class="showSlide1 fade">
                        <img src="./images/AKU_logo.png" />
                        <div class="speaker_name">KEYNOTE SPEAKER</div>
                    </div>

                    <!-- Navigation arrows -->
                    <a class="left1" onclick="nextSlide1(-1)">❮</a>
                    <a class="right1" onclick="nextSlide1(1)">❯</a>
                </div>


                <!-- session ---------------------------------------------- -->
                <div id="session_speakerGallery" class="session_speakerGallery">
                    <div class="showSlide2 ">
                        <img src="./images/airplane.jpg" />
                        <div class="speaker_name">SESSION SPEAKER</div>

                    </div>
                    <div class="showSlide2 ">
                        <img src="./images/Bushra.jpg" />
                        <div class="speaker_name">SESSION SPEAKER</div>

                    </div>
                    <div class="showSlide2 ">
                        <img src="./images/Azmat.jpeg" />
                        <div class="speaker_name">SESSION SPEAKER</div>
                    </div>
                    <div class="showSlide2 ">
                        <img src="./images/gallery2.jpg" />
                        <div class="speaker_name">SESSION SPEAKER</div>

                    </div>

                    <div class="showSlide2 ">
                        <img src="./images/AKU_logo.png" />
                        <h2 class="speaker_name">SESSION SPEAKER</h2>
                    </div>

                    <!-- Navigation arrows -->
                    <a class="left2" onclick="nextSlide2(-1)">❮</a>
                    <a class="right2" onclick="nextSlide2(1)">❯</a>
                </div>


                <!-- Inspiration------------------------------------------------------------------ -->

                <div class="inspiration">
                    <% for(let i of inspiration){%>
                        <li>
                            <h1>
                                <%= i.inspiration %>
                            </h1>
                        </li>
                        <%}%>
                </div>

                <div class="gallery2">
                    <div class="showSlide3 fade">
                        <img src="./images/Aman.jpg" />

                    </div>
                    <div class="showSlide3 fade">
                        <img src="./images/gallery2.jpg" />

                    </div>

                    <div class="showSlide3 fade">
                        <img src="./images/Azmat.jpeg" />

                    </div>
                    <div class="showSlide3 fade">
                        <img src="./images/gallery.jpg" />

                    </div>
                    <!-- Navigation arrows -->
                    <a class="left3" onclick="nextSlide3(-1)">❮</a>
                    <a class="right3" onclick="nextSlide3(1)">❯</a>
                </div>

                <div class="social">
                    <div class="text">
                        <h2>CONNECT WITH US</h2>
                    </div>

                    <div class="social_icon">
                        <img src="./images/facebook.png" alt="">
                        <img src="./images/twitter.png" alt="">
                        <img src="./images/linkedin.png" alt="">
                        <img src="./images/youtube.jpg" alt="">
                    </div>
                </div>


                <!-- Query section--------------------------------------------- -->

                <div class="query_section">


                    <div class="query">
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">FAQs</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Code of Conduct</a></li>
                            <li><a href="">Privacy</a></li>
                            <li><a href="">Disclaimer</a></li>
                        </ul>
                    </div>

                </div>


                <!-- Horizontal line------------------------------------------ -->

                <div class="horizontal_line"></div>


                <!-- Copyright and Designed by--------------------------------- -->

                <div class="copyright_designed-by">
                    <p>© 2019 International Conference on Advance Computing and Innovative Technologies in Engineering.
                        All
                        rights resereved</p>
                    <p>Designed and Developed By: AMAN DAYAL</p>
                </div>
        </main>

    </div>


    <!-- JAVASCRIPT-------------------------------------------------------------------------- -->
    <script>

        // Under Gallery_Notice-->Gallery1--------------------

        var slide_index = 1;
        displaySlides(slide_index);

        function nextSlide(m) {
            displaySlides(slide_index += m);
        }

        function currentSlide(m) {
            displaySlides(slide_index = m);
        }

        function displaySlides(m) {
            var i;
            var slides = document.getElementsByClassName("showSlide");
            if (m > slides.length) { slide_index = 1 }
            if (m < 1) { slide_index = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slide_index - 1].style.display = "block";
        }

        setInterval(function () {
            nextSlide(1);
        }, 3000);


        // Burger icon-------------------------------------------

        var view = document.getElementById("menu_list");

        var burger_icon_open = document.getElementById("burger_icon_open");

        var burger_icon_close = document.getElementById("burger_icon_close");

        burger_icon_open.addEventListener('click', function () {

            view.style.display = "block";
            burger_icon_open.style.display = "none";
            burger_icon_close.style.display = "block";


        });

        burger_icon_close.addEventListener('click', function () {

            view.style.display = "none";
            burger_icon_open.style.display = "block";
            burger_icon_close.style.display = "none";
        });



        // Keynote Speakers section------------------------------------------------
        var slide_index1 = 1;
        displaySlides1(slide_index1);




        function nextSlide1(n) {
            displaySlides1(slide_index1 += n);
        }

        function currentSlide1(n) {
            displaySlides1(slide_index1 = n);
        }

        function displaySlides1(n) {
            var j;
            var slides1 = document.getElementsByClassName("showSlide1");
            if (n > slides1.length) { slide_index1 = 1 }
            if (n < 1) { slide_index1 = slides1.length }
            for (j = 0; j < slides1.length; j++) {
                slides1[j].style.display = "none";
            }
            slides1[slide_index1 - 1].style.display = "block";
        }

        setInterval(function () {
            nextSlide1(1);
        }, 3000);

        // session speaker section--------------------------------------
        var slide_index2 = 1;
        displaySlides2(slide_index2);




        function nextSlide2(o) {
            displaySlides2(slide_index2 += o);
        }

        function currentSlide2(o) {
            displaySlides2(slide_index2 = o);
        }

        function displaySlides2(o) {
            var k;
            var slides2 = document.getElementsByClassName("showSlide2");
            if (o > slides2.length) { slide_index2 = 1 }
            if (o < 1) { slide_index2 = slides2.length }
            for (k = 0; k < slides2.length; k++) {
                slides2[k].style.display = "none";
            }
            slides2[slide_index2 - 1].style.display = "block";
        }

        setInterval(function () {
            nextSlide2(1);
        }, 3000);

        // Response of clicking on keynote speakers and session speakers button------
        var keynote_speakerGallery = document.getElementById("keynote_speakerGallery");
        var keynote_btn = document.getElementById("keynote_btn");

        keynote_btn.addEventListener('click', function () {

            keynote_speakerGallery.style.display = "block";
            session_speakerGallery.style.display = "none";
            keynote_btn.style.opacity = "100%";
            session_btn.style.opacity = "65%";
        });

        var session_speakerGallery = document.getElementById("session_speakerGallery");
        var session_btn = document.getElementById("session_btn");

        session_btn.addEventListener('click', function () {
            session_speakerGallery.style.display = "block";
            keynote_speakerGallery.style.display = "none";
            keynote_btn.style.opacity = "65%";
            session_btn.style.opacity = "100%";
        });


        // GALLERY2

        var slide_index3 = 1;
        displaySlides3(slide_index);

        function nextSlide3(p) {
            displaySlides3(slide_index3 += p);
        }

        function currentSlide3(p) {
            displaySlides3(slide_index3 = p);
        }

        function displaySlides3(p) {
            var l;
            var slides3 = document.getElementsByClassName("showSlide3");
            if (p > slides3.length) { slide_index3 = 1 }
            if (p < 1) { slide_index3 = slides3.length }
            for (l = 0; l < slides3.length; l++) {
                slides3[l].style.display = "none";
            }
            slides3[slide_index3 - 1].style.display = "block";
        }

        setInterval(function () {
            nextSlide3(1);
        }, 3000);


        // committee

    </script>
</body>

</html>